.botoes{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 0 0 0.3rem;
}

.botoes button{
    cursor: pointer;
    margin: 0 0.3rem 0 0;
    width: 5vw;
    height: 4vh;
    font-weight: bold;
    font-size: 1.2rem;
}