.botoes {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.botoes button {
    cursor: pointer;
    margin: 0 0.3rem 0 0;
    width: clamp(3rem, 7.4vw, 10rem);
    height: 4vh;
    font-weight: bold;
    font-size: 1.2rem;
}

.botoesCategoria {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.botoesCategoria > button {
    cursor: pointer;
    margin: 0 0.3rem 0 0;
    width: 5rem;
    height: 2.2rem;
    font-weight: bold;
    font-size: 1.2rem;
}


.botoesPageProduto {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.botoesPageProduto > button {
    cursor: pointer;
    margin: 0 0.3rem 0 0;
    width: clamp(5rem, 10vw, 10rem);
    height: 4vh;
    font-weight: bold;
    font-size: 1.2rem;
}

