.botoes{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.botoes button{
    cursor: pointer;
    margin: 0 0.3rem 0 0;
    width: 5vw;
    height: 4vh;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width:1380px){
    .botoes button{
        font-size: 1.1rem;
        width: 4vw;
        height: 3vh;
    }
}

@media (max-width:523px){
    .botoes{
       flex-direction: column;
       margin-top: 1.5rem;
    }

    .botoes button{
        width: 15vw;
        margin-bottom: 0.4rem;
    }
}