.container{
    height: 37.9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(125, 81, 4, 0.785), rgb(237, 154, 13));
}

.sections{
    padding-bottom: 2rem;
}

.sections a{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: rgb(209, 209, 209);
    padding: 0.5rem 0 0.5rem 0;
    width: 15vw;
    box-shadow: 0px 3px 20px 4px black;
    color: black;
    cursor: pointer;
}

.sections a img{
    height: 3rem;
}

.sections a p {
    text-align: center;
    font-size: 1.4rem;
    padding-block: 1rem;
    font-weight: bolder;
}

.sections p a{
    text-align: center;
    font-size: 1.4rem;
    padding-block: 1rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}