.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 2px solid black;
    width: auto;
    height: 12vh;
    background: rgb(200, 132, 15);
    font-size: 1.4rem;
}

.containerDasVariaveis {
    background: rgb(200, 132, 15);
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 80vw;
}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.preco {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.quantidadeNoCarrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.containerDoBotao {
    display: flex;
    width: 20vw;
    justify-content: center;
    align-items: center;
}

@media (max-width:1651px) {
    .containerDasVariaveis {
        font-size: 1.3rem;
    }
}

@media (max-width:1490px) {
    .containerDasVariaveis {
        gap: 3rem;
    }
}

@media (max-width:1283px) {
    .containerDasVariaveis {
        font-size: 1.2rem;
    }
}

@media (max-width:1250px) {
    .containerDasVariaveis {
        gap: 1rem;
        font-size: 1.1rem;
    }
}

@media (max-width:635px) {
    .container {
        margin-left: 0;
    }
}

@media (max-width:568px) {
    .containerDasVariaveis {
        font-size: 1rem;
    }
}

@media (max-width:523px) {
    .containerDasVariaveis {
        flex-direction: column;
        width: 50vw;
    }
    .containerDoBotao{
        width: 50vw;
    }
}
