.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 2px solid black;
    width: auto;
    height: 12vh;
    background: rgb(200, 132, 15);
    font-size: clamp(0.9rem, 1.3vw, 1.4rem);
}

.containerDasVariaveis {
    background: rgb(200, 132, 15);
    display: flex;
    justify-content: center;
    gap: clamp(2rem, 4vw ,6rem);
    width: 80vw;
}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.preco {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.quantidadeNoCarrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.containerDoBotao {
    display: flex;
    width: 20vw;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px) {
    .containerDasVariaveis {
        flex-direction: column;
        width: 50vw;
        gap: 1rem;
    }
    .containerDoBotao{
        width: 50vw;
    }
}

@media (max-width:462px){
    .containerDasVariaveis {
        width: 80vw;
        font-size: 0.8rem;
    }
}

@media (max-width:335px){
    .containerDasVariaveis {
       width: 100vw;
    }
}
