.containerExterno {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    width: auto;
    overflow-x: hidden;
    background: rgb(237, 154, 13);
}

.containerInterno {
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    width: clamp(19rem, 50vw, 50rem);
    height: clamp(38rem, 88vh, 47rem);
    background-color: rgb(209, 209, 209);
    object-fit: initial;
}

.hr {
    width: clamp(18.7rem, 49.4vw, 48rem);
}

.containerInterno img {
    border-radius: 1rem;
    width: clamp(15rem, 30vw, 40rem);
    height: 15rem;
    object-fit: initial;
}

.containerInterno p {
    font-weight: bold;
    margin: 1rem;
    font-size: clamp(1rem, 1.7vw , 1.9rem);
    text-align: center;
}

.naoEncontrado {
    background: rgb(237, 154, 13);
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    overflow-x: hidden;
}


@media(max-width:1330px){
    .hr{
        margin-top: 2rem;
    }
}

@media (max-width:375px) and (max-height:686px){
    .containerInterno{
        height: 37rem;
    }
}

@media (width:344px) and (height:882px){
    .containerInterno{
        margin-top: 0;
        height: 40rem;
    }
}

