.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(200, 132, 15);
    height: 8vh;
    text-align: center;
} 

.footerCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 8vh;
    text-align: center;
}

@media (max-width:643px){
    .text>h2{
        font-size: 1.2rem;
    }
}

@media (max-width:532px){
    .text>h2{
        font-size: 1.0rem;
    }
}