.container{
    background: rgb(230, 150, 11);
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

.image img{
   width: 50vw;
   height: 100%;
   object-fit: none;
}

.text{
    margin-left: 2.5rem;
    text-align: justify;
    color: black;
    font-weight: bolder;
    height: 100%;
    width: 45vw;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}

.text p{
    margin-top: 1.5rem;
}

.span{
    background-color: white;
    border-radius: 1rem;
    padding: 0 0.2rem 0 0.2rem;
}
