.container {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.sections {
    margin: 1.2rem;
    display: flex;
    border-radius: 1rem;
}

.sections a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px 0px black,
        0px 0px 5px 0px black,
        0px 0px 5px 0px black,
        0px 0px 5px 0px black;
    background-color: rgb(209, 209, 209);
    padding: 0.5rem 0 0.5rem 0;
    width: 20rem;
    color: black;
    cursor: pointer;
}

.sections a img {
    height: 3rem;
}

.sections a p {
    text-align: center;
    font-size: 1.4rem;
    padding-block: 1rem;
    font-weight: bolder;
}

.sections p a {
    text-align: center;
    font-size: 1.4rem;
    padding-block: 1rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

@media(max-width:1529px){
    .container{
        margin-top: 2.1rem;
        height: 67vh;
        justify-content: center;
    }
}

@media (max-width:748px){
    .container{
        margin: 0;
        height: 70rem;
    }
}

@media (max-width:329px){
    .sections a{
       width: 17rem;
    }
}