.containerInterno {
    cursor: pointer;
    background-color: rgb(209, 209, 209);
    width: 20rem;
    height: 47vh;
    border: 2px solid black;
    border-radius: 2rem;
    margin: 1rem;
}

.containerInterno a {
    text-decoration: none;
    outline: none;
    color: black;
}

.containerInterno img {
    width: 19.7rem;
    height: 20vh;
}

.containerInterno p{
    font-size: clamp(0.5rem, 2.5vw ,1.2rem);
    text-align: center;
    font-weight: bold;
    padding-block: 0.7rem;
}

.funcao {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem;
}

.funcaoParagrafo {
    font-size: 1.6rem;
    font-weight: bold;
}

.funcaoQuantidade {
    margin-left: 5px;
}

@media (max-width:1627px){
    .containerExterno{
        width: 18vw;
    }
}

@media (max-width:1523px){
    .containerExterno {
        margin-left: 6.5rem;
    }
}

@media (max-width:1406px){
    .containerExterno {
        margin-left: 15rem;
    }
}