.container{
    display: flex;
}

.containerInterno{
    cursor: pointer;
    margin: 1rem 2rem 0rem 3.3rem;
    background-color: rgb(209, 209, 209);
    width: 20vw;
    height: 45vh;
    border: 2px solid black;
    border-radius: 2rem;
}

.containerInterno a{
    text-decoration: none;
    outline: none;
    color: black;
}

.containerInterno p{
    font-size: 1.6rem;
    text-align: center;
}

.containerInterno img{
    width: 19.75vw;
    height: 20vh;
}

.nomeDoProduto{
    padding: 1rem;
    font-weight: bold;
}

.preco{
   color: black;
   font-weight: bold;
   padding: 0.5rem 0 0 0;
}

.funcao{
    margin: 1rem 0 0 0;
    display: flex;
}

.funcaoP{
    font-weight: bold;
    padding: 0 0 0 2rem;
}

.funcao p{
    font-weight: bold;
    margin: 0 0 0 4px;
}
